.progressBarContainer {
    width: 100%;
    height: 0.3rem;
    background-color: var(--secondary-light);
    border-radius: 10rem;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    background-color: var(--button-tip);
    transition: width 0.3s ease;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--secondary-light);

    font-size: 0.875rem;
}

.wrapper {
    background-color: var(--button);
    color: var(--secondary-light);

    border: solid 1px var(--input-border);
    border-radius: 0.6rem;

    padding: 0.25rem 0.6rem;
}

.medium {
    width: 10rem;
}

.little {
    gap: 0.7rem;

    width: 7rem;

    font-size: 0.8rem;
}