:root {
  /* === dark */
  --dark: black;
  --secondary-text: #E1E1E1;
  --secondary-light: #B9B9B9;
  --blue: #2A7CE1;
  --green: #37AA42;
  --red: #ed2236;
  --red-dark: #d61c2e;
  --red-description: rgba(198, 50, 65, 0.853);
  --red-transparent: rgba(198, 50, 65, 0.129);

  --font-family-primary: "IBM Plex Mono", "Noto Sans Mono Variable", "Noto Sans Mono", monospace;
}

.light {
  --dark: white;
  --light: black;
  --secondary-text: #000000;
  --secondary-light: #E7E7E7;
  --secondary-dark: #000000;
  --hover-dark: #F0F0F0;
  --description-text: #75757E;
  --input-border: #dfdfdf;
  --toggle-bg: #adadb7;
  --toggle-bg-enabled: var(--light);
  --toggle-checked: var(--dark);
  --button: #f4f4f4;
  --button-hover: #e8e8e8;
  --button-transparent: rgba(255, 255, 255, 0.129);
  --sidebar: #EFEFEF;
  --sidebar-hover: rgba(0, 0, 0, 0.1);
  --card: rgb(243, 243, 243);
  --card-border: transparent;
  --action-hover: rgb(87, 87, 87);
}

.dark {
  --dark: black;
  --light: white;
  --secondary-text: #E1E1E1;
  --secondary-light: #B9B9B9;
  --secondary-dark: #101010;
  --hover-dark: #282828;
  --description-text: #818181;
  --input-border: #383838;
  --toggle-bg: var(--input-border);
  --toggle-bg-enabled: #8a8a8a;
  --toggle-checked: var(--light);
  --button: #191919;
  --button-transparent: rgba(255, 255, 255, 0.129);
  --button-hover: #2a2a2a;
  --button-tip: rgb(79 79 79);
  --sidebar: #101010;
  --sidebar-hover: rgba(255, 255, 255, 0.1);
  --card: rgb(12, 12, 12);
  --card-border: rgb(51, 51, 51);
  --action-hover: var(--toggle-bg-enabled);
}

body {
  background-color: var(--dark);
  color: var(--secondary-text);
  transition: background-color 0.3s, color 0.3s;
  font-family: "IBM Plex Mono", "Noto Sans Mono Variable", "Noto Sans Mono", monospace;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1950px) {

  html,
  body {
    font-size: 16px;
  }
}

@media (max-width: 1600px) {

  html,
  body {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {

  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 900px) {

  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 600px) {

  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 400px) {

  html,
  body {
    font-size: 13px;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--dark);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--hover-dark);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--input-border);
}

::-moz-selection {
  background-color: var(--light);
  color: var(--dark);
}

::selection {
  background-color: var(--light);
  color: var(--dark);
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;

  color: var(--description-text);
  background-color: var(--button);
  font-family: inherit;
  font-weight: 500;

  border: solid 2px var(--input-border);
  border-radius: 0.8rem;

  outline: none !important;

  padding: 0.9rem 1rem 0.9rem 1rem;

  font-size: 0.875rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:focus,
textarea:focus {
  border: solid 2px var(--light);
  color: var(--light);
}

textarea {
  resize: none;
}

blockquote {
  border-left: solid 3px var(--blue) !important;
  color: var(--description-text) !important;

  padding-left: 2rem !important;
  margin-left: 0 !important;
}

.md-editor .cm-editor,
.md-editor .cm-scroller,
.md-editor .cm-content {
  overflow-x: hidden;
}

.md-editor .cm-line {
  max-width: 28rem;

  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

.code-mirror-focused .ͼ1 .cm-foldPlaceholder {
  background-color: var(--red);
  border: none;
  color: var(--light);
}

.ͼ1 .cm-foldPlaceholder {
  background-color: var(--hover-dark);
  border: none;
  color: var(--description-text);
}