.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.headerChildrenRight {
    display: flex;
    justify-content: space-between;
}

.headerInfo {
    background-color: var(--light);
    color: var(--dark);

    border-radius: 0.375rem;

    padding: 0.2rem 0.8rem;
    margin-bottom: 1.2rem;
}