.container {
    padding: 1rem 2rem;
}

.container [role='button'] {
    width: 100%;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
    margin-top: 1rem;
}

.titleButton {
    color: var(--light);
    text-decoration: underline;

    cursor: pointer;
}

.titleButton:hover {
    color: var(--secondary-light)
}

.expanded {
    width: 58%;
}

.container div {
    font-size: 0.875rem;
}

.container textarea,
.container textarea:hover,
.container input,
.container input:hover {
    border: none !important;
}