.container {
    padding: 1rem 2rem;
    margin-top: -1.45rem;
}

.container [role='button'] {
    width: 100%;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
    margin-top: 1rem;
}

.titleButton {
    color: var(--light);
    text-decoration: underline;

    cursor: pointer;
}

.titleButton:hover {
    color: var(--secondary-light)
}

.expanded {
    width: 62%;
    height: 93vh;

    padding-left: 0.5rem;
    padding-right: 3.5rem;

    overflow: scroll;
}

.container div {
    font-size: 0.875rem;
}

.container textarea,
.container textarea:hover,
.container input,
.container input:hover {
    border: none !important;
}

.questionContainer {
    margin-left: -7px;
}

.titleContainer h2 {
    margin: 0;
}

.mb {
    margin-bottom: 2.5rem;
}

.mt {
    margin-top: 2.5rem;
}