.container {
    padding: 1rem 2rem;
    margin-top: -1.45rem;
}

.titleButton {
    color: var(--light);
    text-decoration: underline;

    font-size: 0.9rem;

    cursor: pointer;
}

.titleButton:hover {
    color: var(--secondary-light)
}

.container textarea,
.container textarea:hover,
.container input,
.container input:hover {
    border: none !important;
}

.questionContainer {
    margin-left: -7px;
}