.finiteItem {
    display: flex;
    justify-content: center;
    flex: 1;

    padding: 0.5rem;

    border-radius: 0.5625rem;

    cursor: pointer;
}

.finiteItem:hover {
    background-color: var(--button-hover);
}

.finiteActive,
.finiteActive:hover {
    background-color: var(--light);
    color: var(--dark);
}
