.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    padding: 0.5rem;

    border-radius: 0.5625rem;

    cursor: pointer;
}

.hovered .fill:hover {
    background-color: var(--button-hover);
}

.activeFill,
.activeFill:hover {
    background-color: var(--light) !important;
    color: var(--dark);
}

.border {
    border: 2px solid var(--button);
}

.border:hover {
    border: 2px solid var(--button-hover);
}

.activeBorder,
.activeBorder:hover {
    border: 2px solid var(--light);
    color: var(--light);
}

.container {
    position: relative;
    width: 100%;
}

.topRight {
    position: absolute;
    top: -7px;
    right: -7px;

    stroke-width: 1.5px;
}

.icon {
    cursor: pointer;
}

.icon svg {
    width: 1.25rem;
    height: 1.25rem;
}

.topRight svg path {
    stroke-width: 1.5px;
}

.left {
    margin-right: 0.7rem;
    margin-bottom: -2px;
}

.container:hover .topRight svg path {
    fill: var(--dark);
    stroke: var(--button-hover);
}

.containerActive .topRight svg path,
.containerActive:hover .topRight svg path {
    fill: var(--dark);
    stroke: var(--light);
}

.container .topRight {
    display: none;
}

.container:hover .topRight,
.containerActive .topRight {
    display: block;
}