.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.headerContent,
.child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.childTitleContainer {
    display: flex;
    flex-direction: column;

    gap: 0.3rem;
}

.actionIcon {
    transition: transform 0.3s ease-in-out;

    transform: rotate(-90deg);
}

.expanded {
    transform: rotate(0deg);
}

.edit {
    margin-top: -1rem;
    margin-bottom: 0.6rem;
}

.titleEdit input {
    background-color: transparent;
    border: none;

    font-size: 1rem;

    padding-left: 0.3rem;
}

.editIcon {
    font-size: 1.5rem;
}

.editIcon:hover {
    color: var(--secondary-light);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header:hover .rightActions {
    display: flex;
}

.rightActions {
    display: none;
    gap: 0.5rem;
}

.rightActions .actionIcon svg {
    margin-bottom: -3px;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.titleIcon {
    cursor: pointer;
}

.tag {
    font-size: 0.875rem;
    font-weight: 400;

    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
}

.tag:hover {
    filter: brightness(0.9);
}

.info {
    background-color: var(--button);
}

.warning {
    background-color: var(--red);
}

.tagTitle {
    margin-top: -2px;
}

.titleError {
    color: var(--red);
    font-size: 0.875rem;

    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}