.setting-code .cm-content {
    background-color: var(--button);

    border-radius: 0 0.6875rem 0.6875rem 0;
    border-right: solid 2px var(--input-border);
    border-top: solid 2px var(--input-border);
    border-bottom: solid 2px var(--input-border);
}

.setting-code .ͼ1.cm-focused .cm-content {
    border-right: solid 2px var(--light);
    border-top: solid 2px var(--light);
    border-bottom: solid 2px var(--light);
}

/* start gutters  */

.setting-code .cm-gutters {
    background-color: var(--button) !important;

    border-radius: 0.6875rem 0 0 0.6875rem;
    border-left: solid 2px var(--input-border);
    border-top: solid 2px var(--input-border);
    border-bottom: solid 2px var(--input-border);
}

.setting-code .ͼ1.cm-focused .cm-gutters {
    background-color: var(--button) !important;

    border-radius: 0.6875rem 0 0 0.6875rem;
    border-left: solid 2px var(--light);
    border-top: solid 2px var(--light);
    border-bottom: solid 2px var(--light);
}

.setting-code .ͼ1.cm-focused .cm-gutters .cm-gutterElement {
    color: var(--light);
}

.setting-code .cm-gutter.cm-lineNumbers {
    background-color: transparent;
}

.setting-code .ͼ2 .cm-gutters {
    border-right: none;
}

.setting-code .cm-gutter {
    background-color: var(--button);
}

.setting-code .cm-gutterElement {
    font-family: "IBM Plex Mono", "Noto Sans Mono Variable", "Noto Sans Mono", monospace;
}

/* end gutters  */

/* start numbers, booleans, string colors */

.setting-code .ͼd {
    color: var(--green);
}

.setting-code .ͼe {
    color: var(--red);
}

.setting-code .ͼc {
    color: var(--blue);
}

.code-mirror-focused .ͼg,
.code-mirror-focused .ͼb,
.code-mirror-focused .ͼl,
.code-mirror-focused .ͼd {
    color: var(--light);
}

.code-mirror .ͼg,
.code-mirror .ͼb,
.code-mirror .ͼd,
.code-mirror .ͼe,
.code-mirror .ͼc,
.code-mirror .ͼl {
    color: var(--description-text);
}

/* end numbers, booleans, string colors */

.setting-code .ͼ1.cm-focused .cm-matchingBracket {
    background-color: var(--red);
    color: var(--light);
}