.title {
    margin-bottom: 0.7rem;
    margin-top: 0rem;

    color: var(--light);
}

.settingsContainer {
    position: relative;

    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem 1.5rem;

    width: 100%;

    margin-top: 1.3rem;
}

.buttonContainer div {
    width: max-content !important;
}

.description {
    display: none;

    font-size: 0.9375rem;
    color: var(--description-text);

    margin-top: 0.5rem;
}

.deleteContainer:hover {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.deleteContainer:hover .description {
    width: 100% !important;
}

.deleteContainer:hover .description {
    display: block;
}