.title {
    margin-bottom: 0.7rem;
    margin-top: 0rem;

    color: var(--light);
}

.settingsContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem 1.5rem;

    margin-top: 1.3rem;
}
