.container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.body {
    width: 70%;
}

.title {
    margin-bottom: 0.7rem;
    margin-top: 0rem;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem 1.5rem;

    margin-top: 1.3rem;
}

.button {
    padding: 0.625rem 1.25rem;

    font-size: 1rem;
    font-family: var(--font-family-primary);
    font-weight: 600;

    text-transform: uppercase;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

.saveButton {
    background-color: var(--light);
    color: var(--dark);
}

.deleteButton {
    background-color: var(--red);
    color: var(--light);
}

.deleteButton:hover {
    background-color: var(--dark-red);
}

.saveButton:hover {
    background-color: var(--secondary-light);
}

.backButton {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;

    cursor: pointer;
}