.videoSelector {
    display: flex;
    gap: 1rem;

    max-width: 40%;
}

.videoAction {
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    gap: 2rem;

    cursor: default !important;
    padding: 1rem 0 !important;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    margin-top: 1.5rem;
}

.content {
    min-height: 83vh;
}