.videoSelector {
    display: flex;
    gap: 1rem;

    max-width: 30%;
}

.videoAction {
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    gap: 2rem;

    cursor: default !important;
    padding: 1rem 0 !important;
}

.videoActions h3 {
    margin: 0.8rem 0;
    margin-top: 2rem;

    font-weight: 600;
}