.container {
    position: relative;
    width: 85%;

    padding: 2rem;
}

.container input,
.container div {
    width: 100%;
}

.backButton {
    position: absolute;

    right: 2rem;

    width: 5% !important;
}