.image {
    object-fit: cover;

    border-radius: 0.5rem;
}

.medium {
    width: 6.25rem;
    height: 3.75rem;
}

.large {
    width: 8.875rem;
    height: 5.125rem;
}

.xlarge {
    width: 12.5rem;
    height: 7rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--hover-dark);
}

.icon svg {
    width: 2rem;
    height: 2rem;

    color: var(--description-text);
}