.header {
    flex-direction: row-reverse;
    justify-content: flex-end !important;

    gap: 1rem;
}

.header h3 {
    font-size: 1rem;

    margin: 0;
}

.child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child:hover {
    background-color: var(--hover-dark);
}

.childTitle,
.sectionActionTitle {
    font-size: 0.875rem;
}

.child,
.sectionActionBottom {
    padding: 0.75rem;
    margin-top: 0.7rem;

    border-radius: 0.5rem;

    cursor: pointer;
}

.sectionActionBottom:hover {
    background-color: var(--hover-dark);
}

.sectionActionRight {
    cursor: pointer;
}

.sectionActionRight:hover {
    color: var(--secondary-light);
    text-decoration: underline;
}

.childTime {
    font-size: 0.85rem;

    margin-right: 1.5rem;
}

.childTitleContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.childAdditionalInfo {
    font-size: 0.85rem;
    color: var(--description-text);
}