.tag {
    font-size: 0.875rem;
    font-weight: 400;

    padding: 0.2rem 0.5rem;
}

.hovered {
    cursor: pointer;
}

.hovered:hover {
    background-color: var(--input-border);
}

.medium {
    border-radius: 0.5rem;
}

.little {
    border-radius: 1rem;
}

.neutral {
    background-color: var(--hover-dark);

    border: 1px solid var(--input-border);
}

.info {
    background-color: var(--description-text);
}

.warning {
    background-color: var(--red);
}

.tagTitleIcon svg {
    width: 1rem;
    height: 1rem;
}

.tagTitleIcon {
    margin-bottom: -2px;
}

.tagWithIcon {
    padding-top: 5px;
}