.title {
    font-size: 1.1rem;
    font-weight: 600;
}

.error .title {
    color: var(--red);
}

.icon {
    color: var(--light);
}

.error .icon {
    color: var(--red);
}

.description {
    font-size: 0.89rem;
    font-weight: 400;
    color: var(--description-text);

    max-width: 18.875rem;
}

.error .description {
    color: var(--red-description);
}

.container {
    margin-top: 1.5rem;
}

.uploadContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 22rem;
    height: 11rem;

    background-color: var(--button);

    border-radius: 1.6875rem;

    cursor: pointer;
}

.error {
    background-color: var(--red-transparent);
}

.uploadContainer:hover {
    filter: brightness(0.9);
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    text-align: center;
}

.borderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 22rem;
    height: 11rem;
}

.borderContainer svg,
.borderContainer svg path {
    width: 22rem;
    height: 11rem;

    color: var(--input-border);
}

.error .borderContainer svg,
.error .borderContainer svg path {
    color: var(--red);
}

.hiddenInput {
    display: none;
}

.videoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.videoInfo {
    color: var(--description-text);
    font-size: 0.95rem;
}

.videoInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.errorMessage {
    color: var(--red);
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.video {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--light);
    background-color: var(--button);

    border-radius: 1.4rem;
    border: 1px solid var(--input-border);

    padding: 0.7rem 1rem;
}