.container {
    display: flex;
    align-items: center;
}

.table {
    border-collapse: collapse;
    width: 100%;

    margin: 0 6.5rem;
}

.button {
    cursor: pointer;

    color: var(--light);

    margin-left: -2rem;
}

.disabled {
    visibility: hidden;
}

.input {
    width: calc(100% - 14rem);

    margin: 0 5rem 2rem 6rem;
}

.nothingContainer{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10rem;
}
