.action {
    text-decoration: underline;

    margin: 0.2rem 0;

    cursor: pointer;
}

.locked {
    color: var(--description-text) !important;
    text-decoration: none;
    cursor: not-allowed !important;
}