.expanded {
    width: 62%;
    height: 93vh;

    padding-left: 0.5rem;
    padding-right: 3.5rem;

    overflow: scroll;
}

.scrollableExpanded {
    position: inherit !important;
}

.scrollable {
    position: fixed;

    padding-right: 5rem;

    overflow-x: hidden !important;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mb {
    margin-bottom: 2rem;
}

.crumbsContainer {
    background-color: var(--button);

    padding: 0.3rem 0.8rem;

    border-radius: 1rem;
}

.buttonContainer {
    display: flex;
    gap: 1rem;

}

.expanded .buttonContainer {
    margin-right: 32%;
}

.backButton {
    margin-right: 1rem;
}

.button {
    font-size: 1rem !important;
}

.sectionTitle {
    font-size: 1.75rem;
    font-weight: 700;

    margin: 0;
    margin-bottom: 1.5rem;
}

.sectionDescription {
    font-size: 1rem;
    font-weight: 400;
    color: var(--description-text);
}

.sidebarContainer {
    margin: 1.2rem;
}

.lessonsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.negMt {
    margin-top: -1.2rem;
    margin-left: -0.5rem;
}

.surveyContainer {
    gap: 0 !important;
}

.videoContainer {
    max-width: 55vw !important;

    margin: 0 auto !important;
}

.scrollable .stickyBar {
    padding-bottom: 4.5rem !important;
}

.scrollable .stickyBarExpanded {
    padding-bottom: 4rem !important;
}