.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.title {
    font-size: 1rem;
}

.time {
    font-size: 0.875rem;

    margin-right: 1.5rem;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}
