.container {
    display: flex;
    gap: 0.3rem;
    justify-content: space-around;

    width: 100%;
    box-sizing: border-box;

    background-color: var(--button);
    border-radius: 0.875rem;
    border: solid 0.125rem var(--input-border);

    padding: 0.25rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0.4rem 0.6rem;

    cursor: pointer;
}

.end {
    display: flex;
}

.icon {
    padding-top: 0.2rem;
    padding-left: 1rem;
}

.inputContainer {
    position: relative;
    width: 100%;
    display: inline-block;
}

.inputIcon {
    position: absolute;
    top: 53%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;

    color: var(--description-text);
}

.input {
    padding: 0.9rem 1rem 0.9rem 2.3rem;
    box-sizing: border-box;
}

.inputIconFocused {
    color: var(--light);
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--button) inset;
    -webkit-text-fill-color: var(--description-text);
    border: solid 2px var(--input-border);
    background-clip: content-box;
    font-size: 0.875rem !important;
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--light);
    border: solid 2px var(--light);
}

.inputDisabled input {
    border: none !important;
}

.inputDisabled .input {
    background-color: var(--input-border) !important;
    color: var(--description-text) !important;
}

.inputDisabled .inputIcon {
    color: var(--description-text) !important;
}

.inputNoArrows::-webkit-outer-spin-button,
.inputNoArrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberControls {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}