.container {
    display: flex;
    flex-direction: row;
    gap: 3.1rem;

    min-height: 100vh;
}

.body {
    position: relative;

    width: 70%;
}

.body h3 {
    color: var(--light);
}

.crumbContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 4.3rem;
}

.checkContainer {
    display: flex;
    gap: 1rem;
}

.clickable {
    cursor: pointer;
}

.checkIcon {
    color: var(--light);
}

.current {
    font-weight: 600;
    font-size: 1.1rem;
}

.prevOrNext {
    color: var(--description-text);
    font-size: 0.975rem;
}