.actions {
    width: 12rem;
}

.action {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--light);
    font-weight: 500;

    cursor: pointer;
}

.action:hover {
    color: var(--action-hover);
}