.body tr {
    height: 2.5rem;

    cursor: pointer;
}

.container {
    width: calc(100% - 14rem);

    margin: 0 auto;
}

.createButton {
    cursor: pointer;

    color: var(--light);

    margin-right: 2rem;
    margin-top: 0.6rem;

    text-decoration: underline;
}

.createButton:hover {
    color: var(--secondary-light);
}
