.container {
    display: flex;
    flex-direction: row;
    gap: 8rem;

    min-height: 100vh;
}

.body {
    position: relative;

    width: 70%;
}

.body h3 {
    color: var(--light);
}

.backButton {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;

    color: var(--light);

    cursor: pointer;
}