.container {
    display: flex;
    flex-direction: row;
    gap: 8rem;

    height: 100vh;

    margin-bottom: 2rem;
}

.body {
    position: relative;
}

.compressed {
    width: 70%;
}

.full {
    width: 100%;
}

.body h3 {
    color: var(--light);
}

.backButton {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--light);

    cursor: pointer;
}

.mb {
    margin-bottom: 2rem;
}

.backButton svg {
    width: 1.5rem;
    height: 1.5rem;
}

.topRight {
    align-items: center;

    height: max-content;
}