.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--hover-dark);

    border: solid 1px var(--input-border);
    border-radius: 0.75rem;

    padding: 1rem;
    margin: 1rem 0rem;
}

.little {
    width: 82%;
}

.little .title {
    width: 100%;

    gap: 2rem;
}

.body,
.title {
    display: flex;
    align-items: center;
}

.body {
    justify-content: space-between;
}

.big .title {
    gap: 1rem;
}

.big .text,
.big .dot {
    font-size: 0.875rem;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 1.3rem !important;
    height: 1.3rem !important;

    background-color: var(--button-tip);

    border-radius: 0.8rem;
}

.dot svg {
    width: 14px;
    height: 14px;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-right: 0.7rem;
}

.action {
    text-decoration: underline;

    margin: 0.2rem 0;

    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    filter: brightness(80%);
}