.container {
    display: flex;
    align-items: flex-start;

    height: 100%;
}

.table {
    border-collapse: collapse;
    width: 100%;

    margin: 0 6.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;

    cursor: pointer;

    color: var(--light);

    position: fixed;
    top: 50%;

    transform: translateY(-50%);
    z-index: 1;
}

.buttonLeft {
    left: 8rem;
}

.buttonLeft svg {
    width: 1.5rem;
    height: 1.5rem;
}

.buttonRight {
    right: 3rem;
}

.disabled {
    visibility: hidden;
}

.input {
    width: calc(100% - 14rem);

    margin: 0 5rem 2rem 6rem;
}