.itemContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;

    margin-right: 0.5rem;
}

.itemDelete {
    color: var(--red);

    cursor: pointer;
}

.itemDelete:hover {
    color: var(--red-dark);
}

.bodyContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.icon {
    margin-bottom: -3px;

    color: var(--description-text);
    cursor: pointer;

}

.correctIcon {
    color: var(--green);
}