.description {
    color: var(--description-text);
}

.descriptionWithoutWrapper {
    margin-top: -0.5rem;
}

.error {
    color: var(--red);

    font-size: 0.9375rem;

    margin-top: 0.5rem;
}

.multiContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.headerContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.headerChildren h3,
.headerChildren div {
    font-size: 0.9rem !important;
    font-weight: 400 !important;

    margin-right: -0.2rem;
}

.headerChildren {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}