.description {
    color: var(--description-text);
}

.descriptionWithoutWrapper {
    margin-top: -0.5rem;
}

.error {
    color: var(--red);

    font-size: 0.9375rem;

    margin-top: 0.5rem;
}

.multiContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}