.title {
    margin-top: 1.8rem;
}

.negMt {
    margin-top: 0.4rem;
}

.actions {
    display: flex;
    justify-content: flex-end;

    gap: 1rem;

    padding-bottom: 1rem;
}

.actions div {
    cursor: pointer;
}

.actionCancel {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.content {
    flex: 1;
}