.container {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;

    color: var(--description-text);
}

.input {
    padding: 0.9rem 1rem 0.9rem 2.3rem;
}

.iconFocused {
    color: var(--light);
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--button) inset;
    -webkit-text-fill-color: var(--description-text);
    border: solid 2px var(--input-border);
    background-clip: content-box;
    font-size: 0.875rem !important;
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--light);
    border: solid 2px var(--light);
}

.iconPointer {
    cursor: pointer;
    pointer-events: auto;
}