.container {
    position: relative;
}

.textarea {
    width: 100%;
    height: 8rem;

    resize: vertical;
    overflow-y: auto;
    white-space: pre-wrap;

    resize: none;

    z-index: 1;
}

.canBeFulled {
    height: 3.2rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    padding-right: 3rem;
}

.fullScreen {
    display: block;

    width: max-content !important;

    position: absolute;
    top: 1rem;
    right: 1rem;

    color: var(--description-text);

    margin-top: -1px;

    cursor: pointer;
}

.fullScreen:hover {
    color: var(--light);
}

.button {
    display: flex;
    justify-content: flex-end;

    font-size: 0.9rem;
    text-decoration: underline;

    margin-top: 1rem;

    cursor: pointer;
}

.fulled {
    height: 92%;
}