.container {
    display: flex;
    justify-content: end;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light);

    border-radius: 50px;

    cursor: pointer;
}

.big .icon {
    width: 3rem;
    height: 3rem;
}

.medium .icon svg {
    width: 1.9rem;
    height: 1.9rem;
}

.medium .icon {
    padding: 0.5rem;
}

.little .icon {
    width: 1.4rem;
    height: 1.4rem;

    padding: 0.4rem;
}

.icon:hover {
    color: var(--button-hover);
}

.expanded {
    color: var(--dark);
    background-color: var(--light);
}

.expanded:hover {
    color: var(--light);
    background-color: var(--button-hover);
}