.sectionsContainer {
    margin-top: 1.5rem;
}

.sectionsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    margin-bottom: 1.5rem;
}

.expanded {
    width: 58.5%;
    height: 92vh;

    padding-left: 0.5rem;
    padding-right: 6.5rem;

    overflow-y: scroll;
    overflow-x: hidden;
}

.body {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.firstBodyChild {
    flex: 1;
}

.underTitle{
    display: flex;
    gap: 0.5rem;

    margin-top: 0.5rem;
}