.container {
    height: 3rem;
}



.item:hover {
    background-color: var(--hover-dark);
}

.checked {
    background-color: var(--light);
}

.checked:hover {
    background-color: var(--description-text);
}

.pointer .item {
    cursor: pointer;
}