.container {
    display: flex;
    gap: 2rem;

    margin-right: -10rem;
}

.first {
    flex: 1;
}

.second {
    width: 17rem;

    padding: 0.5rem 1.5rem;
}

.second svg {
    color: var(--description-text);
}

.collapsed {
    display: flex;
}

.collapsedHeader {
    display: flex;
    justify-content: space-between;

    width: 100%;
}